


.tit{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

body{

    background-color: black;
}

header img{

    width: 100%;
}

p{
    color: white;
    font-family: 'Raleway', sans-serif;
    
}

.primero {
    display: flex;
    top: 800px;
    left: 150px;
    width: 1280px;
    height: 348px;
    justify-content: space-evenly;
    flex-direction: wrap;
}


.primertext {
 width: 475px;
 height: 197px;  
 font-size: large; 
 margin-right: 20px; 
}


.primero img{
top: 845px;
left: 731px;
width: 399px;
height: 237px;
}

.segundo{
    background-color: #1E1A13;
    padding: 3%;
    font-family: 'Raleway', sans-serif;
}

.segundo h2{
    text-align: center;
    color: white;
}

.icons{
    margin-top: 10px;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}



.galerias{
display: flex;
margin: 25px;
justify-content: space-around;   
}

.galerias img{
width: 30%;
}


footer{
text-align: center;
background-color: #1E1A13;
color: white;
font-size: large;
padding: 2%;
}



